.content-sector1 {
    background-color: rgb(158, 158, 158);
    height: 750px;
}

.content-wrapper {

    height: 750px;
}

.content1 {
    display: flex;
    justify-content: center;
}

.finansi {
    display: flex;
    width: 200px;
    margin-top: 50px;
}

.detali2 {
    display: flex;
    justify-content: center;
}

.tr-style {
    display: flex;
    flex-direction: column;
    width: 500px;
}

table,
th,
td {
    border: 2px solid rgb(66, 81, 32);
}

th,
td {
    padding: 10px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


#transaction-details {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 10px;

}
